@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css');
@import url('http://fonts.cdnfonts.com/css/cascadia-code');

.link {
	cursor: pointer;
}

.header.link {
	text-shadow: 0 0 10px #0000;
	transition: 0.2s ease;
}

.header.link:hover {
	text-shadow: 0 0 20px #0f0;
}

h1 {
	background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.link-under {
	position: relative;
	z-index: 100;
}

.link-under::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 1px;
	background-color: #000;
	transition: 0.3s ease all;
	top: 65%;
}

.link-under:hover::after {
	height: 2px;
	width: 100%;
	background-color: #fff;
}

.git-icon {
	margin-left: -22.5px;
	background: #121212;
}

.git-icon-circle {
	transition: 0.2s ease;
}

.skill-hover {
	cursor: context-menu;
}

.skill-hover:hover .git-icon-circle {
	fill: #dadfe9 !important;
}
